{% extends 'base.html'%}
{% block content %}

 
<head>
    <title>Create Ebook</title>
    <script src="{%  static 'ckeditor/ckeditor/ckeditor.js"></script>
    <script src="{%  static 'ckeditor/ckeditor/ckeditor- init.js"></script>
    <script src="https://cdn.ckeditor.com/4.16.0/standard/ckeditor.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.7/MathJax.js?config=TeX-MML-AM_CHTML"></script>
</head>

    
      
<div class="col-md-6 offset-md-3">
    <h2>Create a class</h2>
    
    <div>

        {% if user.is_authenticated %}
        <br/><br/>
        {% if submitted %}
        your  class has been created 
        {% else %}
            
        <P>
        
            <form  method="POST" action="" class="form-control"  enctype="multipart/form-data">
                {% csrf_token %}
            
            {{form.as_p}}
            {{ form.media }}
                
                <input type="submit"  value="Create" class="btn btn-success"/>
            
            </form>
        
        </p>
        
        {% endif %}
        {%else%}
        <h1>You need to be loged in to access this page</h1>
        <a href="{% url 'log in' %}">log in</a>
        
        {%endif%}

    </div>
 

</div>
{% endblock %}