{% extends 'base.html'%}
{% block content %}
    

<h2 style="font-size: small;">Edit event </h2>
    
    <div>

        {% if user.is_authenticated %}
        <br/><br/>
        {% if submitted %}
        your  event has been updated
        {% else %}
            
        <P>
        
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                {{ form.media }}
                <button type="submit">submit</button>
              </form>
        
        </p>
        
        {% endif %}
        {%else%}
        <h1>You need to be loged in to access this page</h1>
        <a href="{% url 'log in' %}">log in</a>
        
        {%endif%}

    </div>
{% endblock %}