{% extends 'base.html'%}
{% block content %}
<div class="container mt-3" style="text-align:end;">
   
    <button type="button" class="btn btn-primary">
      Sent Messages <span class="badge bg-danger">{{outmsg.count  }}</span>
    </button>
    
  </div>
<h1>outbox</h1>
{% for message in outmsg %}
    {% if message.sender == user %}
        <div class="card mb-3" style="max-width: 640px;">
            <div class="row g-0">
        
                <div class="col-md-8">
                    <div class="card-body"> 
                        <h5 class="card-title" style="color:red;"><strong style="color: black;">to:</strong>{{ message.reciepient.username }} </h5>
                        <p class="card-text"><strong style="color:black;"></strong>{{subject.created_on}}</a>{{ message.content | safe | linebreaks }}</p>
                        <br/>
                        <p class="card-text"><strong style="color:black ;">sent on:</strong>{{ message.timestamp }}</a></p>
                        <button class="btn btn-danger"><a href="{% url 'delete_message' message.id %} "><strong 
                            style="color:black;">Delete message</strong></a>
                        </button>
            
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endfor %}

{% endblock %}








