{%  extends 'base.html' %}
{% block content %}

<p style="color:black; font-size: medium;"> make Payment for {{ course.title }} to access the course units</p>
<br/><br/>
<form method="post">
    {% csrf_token %}
    <label for="currency">Choose currency:</label>
    <select id="currency" name="currency">
        <option value="UGX">UGX</option>
        <option value="USD">USD</option>
        <option value="KES">KES</option>
        <!-- Add more currencies as needed -->
    </select> 
    <button type="submit" class="btn btn-outline-secondary"> Pay</button>
</form>
{% endblock %}