{% extends 'base.html' %}
{% block content %}

<div class="card mb-3" style="max-width: 640px;">
    <div class="row g-0">

        <div class="col-md-4">
        {% if course.image %}
        <img src="{{course.image.url }}"  alt ="" width="225" height="300" class="d-inline-block align-text-top" >
       {% endif %}
        <br/><br/>
    
       
 <!-- blogs/templates/blog_detail.html -->
 <form action="{% url 'report_content' content_type_id=course_content_type.id object_id=course.id %}" method="post">
  {% csrf_token %}
  <button type="submit" class="report-btn">
    <i class="fas fa-flag"></i> Report
  </button>
</form>


        <!--form to Enroll or un Enroll from a course-->
    
        <form  method="post">
          {% csrf_token %} 

          {% if is_enrolled %} 
        
          <button class="btn btn-outline-danger" name="enroll" type="submit" disabled>Enrolled</button>
          {% endif %}
          
          {% if not is_enrolled %}
          <button class="btn btn-outline-success" name="enroll"  type="submit">Enroll</button>
          
          {% endif %}

       </form>

        </div>
        
        <div class="col-md-8">
        <div class="card-body"> 
          <h2 class="card-title" style="color:darkblue;"><strong style="color: black;"></strong>{{course.title}}</h2>
          <p class="card-text"><strong style="color:black;">Created on:</strong>{{course.created_on}}</a></p>
          <p class="card-text"><strong style="color:black;">Duration:</strong>{{course.Duration}}</a></p>
          <p class="card-text"><strong style="color:black;"></strong>{{course.level}}</a></p>
          <p class="card-text"><a href="{% url 'profile' course.created_by.id %} ">BY:{{course.created_by}}</a></p>
        </div>
    
      
            <button class="btn btn-outline-primary"><a href="{% url 'class_subjects' course.id %} ">
              <strong style="color:black ; font-size: small;">Course Units</strong></a>
            </button>

            {%if request.user == course.created_by%}

            <button class="btn btn-outline-secondary"><a href=" {% url 'edit_class' course.id %}"><strong 
              style="color:black;">Edit Course</strong></a>
            </button>
            {% endif %}

            {%if request.user == course.created_by%}
            <button class="btn btn-outline-danger"><a href="{% url 'delete_class' course.id  %}"><strong 
              style="color:black;">Delete course </strong></a>
            </button>
            {% endif %}
        </div>    

</div>
</div>


<!--Discription-->
<strong data-bs-toggle="collapse" data-bs-target="#discription" style="color:darkred;"> See discription</strong>
<div id="discription" class="collapse hide">

 
{{course.description | safe}}
 
</div>





{% endblock %}