{% extends 'base.html' %}
{% block content %}
        {% for lesson in lessons_for_subject %}  

 
                <div class="card mb-3" style="max-width: 740px;">
                  <div class="row g-0">
            
                      <div class="col-md-4">
                       {% if  lesson.display_image %}
                      <img src="{{lesson.display_image.url }}"  alt ="" width="225" height="300" class="d-inline-block align-text-top" >
                    {% endif %}  
                    </div>
                      
                      <div class="col-md-8">
                      <div class="card-body"> 
                        <h2 class="card-title" style="color:maroon;"><strong style="color: black;"></strong>{{lesson.title}}</h2>
                        <p class="card-text"><strong style="color:black; font-size:medium;">uploded on:{{lesson.created_on}}</strong></a></p>
                        <p class="card-text"><strong style="color:black;">Taught by:</strong>{{lesson.taught_by}}</a></p>
            
                        {% if lesson.video  %}
                        <div class="video-card">
                          <h2>{{ video.title }}</h2>
                          <p>{{ video.description }}</p>
                          <video width="400" height="300" controls>
                            <source src=" {{lesson.video.url }}" type="video/mp4">
                            Your browser does not support the video tag.
                        
                          
                          </video>
                          <card class=" ">
                              <button class="btn btn-outline-secondary" style="border:black;">
                                <a href=" {{lesson.video.url}} " download>Download video </a><i class="fa fa-download"></i>
                              </button>
            
                              <button class="btn btn-outline-success" style="border:black;">
                                <a href=" {{lesson.video.url}} ">new window</a>
                              </button>
            
                              
                                <a href="{{lesson.notes.url}}" download>Download notes</a>
                              
            
                            </card>
                        
                        </div>
                        {% endif %}
            
                      
                        <button class="btn btn-outline-primary" style="border:black;">
                          <a href="{% url 'classes' %} ">Back to Courses</a>
                        </button>
                      
                      {%if request.user == lesson.taught_by%}
            
                      <button class="btn btn-outline-secondary" style="border:black;">
                        <a href="{% url 'edit_lesson' lesson.id %}">Edit lessons</a>
                      </button>
                      
                      {% endif %}
            
            
                      {%if request.user == lesson.taught_by%}
                      <button class="btn btn-outline-danger" style="border:black;">
                        <a href="{% url 'delete_lesson' lesson.id  %}">Delete lessons</a>
                      </button>
                      
                      {% endif %}
                          
                      </div>
                      </div>
                  </div>
                  </div>

        {% if forloop.last %}   
        <button class="btn btn-outline-primary"><a href="{% url 'tests' %} "><strong 
            style="color:blue;">Take a test</strong></a>
          </button>
    {% endif %}
        <br/><br/><br/>


        {% endfor %}


{% endblock %}