{% extends 'base.html' %}
{% load static %}

{% block content %}

 

<div  class="card mb-3" style="max-width: 540px; background-color:black; padding: 15px;"> 
  <p style="color:blue;">User Profiles</p>
</div>


{% if  profiles %}

    {% for profile in  profiles %}
     
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4">
            
          
            <img  src="{{profile.profile_image.url }}"class="img-fluid rounded-start" alt="profile image">
             
          </div>
          <div class="col-md-8">
            <div class="card-body">
              
              <h5 class="card-title" style="color:darkblue ;">{{profile.username}}</h5>
              <p class="card-text" style="color:crimson ;">profile:<a href="{% url 'profile' profile.id%}">@{{profile.username}}</a></p>
              <p class="card-text" style="color:crimson ;">email:<a href="">{{profile.email}}</a></p>
              
              <div style="margin: 24px 0;">
                <a href="#"><i class="fa fa-twitter"></i></a>  
                <a href="#"><i class="fa fa-linkedin"></i></a>  
                <a href="#"><i class="fa fa-facebook"></i></a>
              </div>
              
              {% if profile.is_institution %}
              <p class="card-text" style="color:crimson ;">website<a href="">{{profile.website}}</a></p>
              {% endif %}
              {% if profile.is_teacher %}
              <p class="card-text" style="color:crimson ;">major<a href="">{{profile.major}}</a></p>
              
               
              {% endif %}
              <br/>
              <p class="card-text"><small class="text-muted"> Last updated: {{ profile.date_modified }}</small></p>

              
               <!--follow suggestions-->
               <form  method="post">
                {% csrf_token %}
          {% if profile in user.follows.all  %} 

                <button class="btn btn-outline-success" name="follow" value="unfollow" type="submit">following<strong
                   style="color:blue ;">{{profile.username}}</strong>

                </button>
                {% else %}
                <button class="btn btn-outline-danger" name="follow" value="follow" type="submit">not following<strong style="color:blue ;">
                  {{profile.username}}</strong> 

                </button>
                
          {% endif %}
              

            </div>
          </div>
        </div>
      </div>
    
      {% endfor %}
      {% endif %}
      
      {% endblock %}