 
{% extends 'base.html' %}

{% block content %}

 
 
{% if profile %}
 
 


<!--dash board-->




<!--profile-->
<div class="profile-card">
  <img src="{{ profile.profile_image.url }}" alt="Profile Picture" class="profile-picture"> 
  <h2><a style="text-decoration:none ;" href="{% url 'profile' user.id %}">@{{profile.username}}</a></h2>
  {% if profile.subscription_active == True %}
  <p class="subscription-status" style="font-size: smaller;">subscription:<strong style="font-size: smaller;color:green;">Active</strong></p>
  {% else %}
  <p class="subscription-status" style="font-size: smaller;">subscription:<strong style="font-size: smaller;color:red;">Inactive</strong></p>
  {% endif %}
  <p style="font-size: smaller;>Email: <span id="email">{{profile.email}}</span></p>
  <p style="font-size: smaller;>School: <span id="school">{{profile.school}}</span></p>
  <p style="font-size: smaller;>Phone: <span id="phone-number">{{profile.contact}}</span></p>
  
  
  {% if profile.is_institution %}
  <p style="font-size: smaller;>website:<a href="">{{profile.website}}</a></p>
  {% endif %}

 <!--form to follow or unfollow and updating profiles-->
  
 <form  method="post">
  {% csrf_token %}
    {% if profile in user.follows.all  %} 
    <button class="btn btn-outline-danger" name="follow" value="unfollow" type="submit" style="font-size: small;">unfollow</button>
    {% else %}
    <button class="btn btn-outline-success" name="follow" value="follow" type="submit" style="font-size: small;">follow</button>
  {% endif %}
</form>

<div class=" ">
  {% if profile.is_teacher or profile.is_institution %}  
  <a style="font-size: small;"  href="{% url 'profile_books' profile.id %}">E-Library</a>|
  {% endif %}
  <a style="font-size: small;" href="{% url 'profile_library' profile.id %}">Library</a>|
    <!--updated profile-->
{% if request.user.id == profile.id %}
<a style="font-size: small;" href="{% url 'update_profile' %}">Edit Profile</a>
{% endif %}
   
</div>

 

  <div class="stats">
    <div class="stat">
      <h3 id="followers-count" style="font-size: small;">{{profile.followed_by.all.count}}</h3>
      <p style="font-size: small;">Followers</p>
    </div>
    <div class="stat">
      <h3 id="following-count" style="font-size: small;">{{profile.follows.all.count}}</h3>
      <p style="font-size: small;">Following</p>
    </div>
  </div>

</div>




<!--  the followers profiles-->
<dive class="card-body">
  <strong data-bs-toggle="collapse" data-bs-target="#followers" style="color:darkblue; font-size: smaller;"> followers <strong style="color:brown ;">{{profile.followed_by.all.count}}</strong></strong>
     <div id="followers" class="collapse hide">
         {% for followed in profile.followed_by.all %}
          <div class="contact-card">
           <img src="{{ followed.profile_image.url }}" alt="Profile Picture" class="contact-image">
           <div class="contact-name"><a style="font-size: small;" href="{% url 'profile'  followed.id%}">{{followed}}</a></div>
          </div>
         {% endfor %}
     </div>
  <!--  the following profiles-->
  <strong data-bs-toggle="collapse" data-bs-target="#following" style="color:darkblue;font-size: smaller"> following <strong style="color:brown ;">{{profile.follows.all.count}}</strong></strong>
     <div id="following" class="collapse hide"  style="background-color:white;">    
             {% for following in profile.follows.all %}
             <div class="contact-card">
               <img src="{{ following.profile_image.url }}" alt="Profile Picture" class="contact-image">
               <div class="contact-name"><a style="font-size: small;" href="{% url 'profile'  following.id%}">{{following}}</a></div>
           </div>
           {% endfor %}
        </div>
        
</dive>


            
{% endif %}

  
  <!--user dash board-->
  <div class="dashboard-container"></div>
  <div class="dashboard-card">
      <h5>{{user}}'s dashboard</h5>

      <table class="dashboard-table">
          <tr>
              <th>Section</th>
              <th>Count</th>
              <th>Material sold</th>
              
          </tr>
          <tr>
              <td>Followers</td>
              <td><strong style="color: brown;">{{user.followed_by.all.count}}</strong></td>
              <td></td>
          </tr>
          <tr>
              <td>Following</td>
              <td><strong style="color: brown;">{{ user.follows.all.count }}</strong></td>
              <td></td>
          </tr>
          {% if user.is_teacher or user.is_institution %}
          <tr>
           
              <td>Courses Created</td>
              <td style="color:brown ;">{{courses}}</td>

           
              <td> 
                {% for data in courses_data %}
                <strong style="font-size:small;">{{ data.course_title }}</strong>
                <p style="font-size:x-small;">course price:${{ data.price }}</p>
                <p style="font-size:x-small;">Total users that paid:{{ data.paid_users_count }}</p>
                <p style="font-size:x-small;">course revenue:{{ data.revenue }}</p>
                {% endfor %}
                <p style="font-size:small; color: brown;"><strong>Total Revenue: ${{ total_revenue }}</strong></p> 
              </td> 
               
              </tr>
          {% endif %} 


          
          {% if user.is_teacher or user.is_institution %}
          <tr>
            
              <td>eBooks Created</td>
              
              <td style="color:brown ;">{{ ebooks }} </td>
               

              <td> 
                
                {% for data in ebooks_data %}
                <strong style="font-size:small;">{{ data.ebook_title }}</strong>
                <p style="font-size:x-small;">book price:${{ data.ebook_price }}</p>
                <p style="font-size:x-small;">Total users that paid:{{ data.ebook_paid_users_count }}</p>
                <p style="font-size:x-small;">ebook revenue:{{ data.ebook_revenue }}</p>
                {% endfor %}
                <p style="font-size:small; color: brown;"><strong>Total Revenue: ${{ ebook_total_revenue }}</strong></p> 

              </td>
              
          </tr>
      {% endif %}



          <tr>
              <td>Uploaded Books</td>
              <td style="color:brown ;">{{ uploaded_books }}</td>
              <td>
                  
                {% for data in books_data %}
                <strong style="font-size:small;">{{ data.book_title }}</strong>
                <p style="font-size:x-small;">book price:${{ data.book_price }}</p>
                <p style="font-size:x-small;">Total users that paid:{{ data.book_paid_users_count }}</p>
                <p style="font-size:x-small;">book revenue:{{ data.book_revenue }}</p>
                {% endfor %}
                <p style="font-size:small; color: brown;"><strong>Total Revenue: ${{ book_total_revenue }}</strong></p> 

              </td>
          </tr>
          {% if user.is_teacher or user.is_institution %}
          <tr>
              <td>Exams created</td>
              <td style="color:brown ;">{{ Exams_created }}</td>
              <td></td>
          </tr>
          
          {% endif %}


          <tr>
            <td>Registered Exams</td>
            <td style="color:brown ;">{{Registered_exams}}</td>
            <td></td>
        </tr>

 


        {% if user.is_teacher or user.is_institution %}  
          <tr>
              <td>Tests created</td>
              <td style="color:brown ;">{{ Tests_created }}</td>
              <td>
               
              </td>
          </tr>
        {% endif %}


        {% if profile %}
          <tr>
              <td>Blogs created</td>
              <td style="color:brown ;">{{ Blogs }}</td>
              <td>
                 
              </td>
          </tr>
          {% endif %}
      

      </table>
  </div>
</div>

<!--Recommendations for activities and content-->
 
<strong>Recommended Courses</strong>
<div class="carousel-container">
    <div class="carousel">
        {% for course in recommended_courses %}
        <div class="carousel-card">
          <a href="{% url 'enroll' course.id%}"><p class="card-title" style="color:darkblue; font-size:small;"><strong style="color: black;"></strong>{{course.title}}</p></a>
        {% if course.image %}
        <a  href="{% url 'enroll' course.id%}" ><img src="{{course.image.url }}"  alt ="" width="70" height="70" class="d-inline-block align-text-top" ></a> 
        {% endif %}
        <a href="{% url 'profile' course.created_by.id %} "><p style="font-size:small;">By:{{course.created_by}}</p></a>
        </div>
        {% empty %}
        <p>No recommended courses available at this time.</p>
        {% endfor %}
    </div>
</div>
 
<strong>Recommended ebooks</strong>
<div class="carousel-container">
    <div class="carousel">
        {% for ebook in recommended_ebooks %}
        <div class="carousel-card">
          
          <a href="{% url 'book_details' ebook.pk %}"><p class="card-title" style="color:darkblue; font-size:small;"><strong style="color: black;"></strong>{{ebook.title}}</p></a>
        {% if ebook.display_image %}
        <a  href="{% url 'book_details' ebook.pk %} " ><img src="{{ebook.display_image.url }}"  alt ="" width="70" height="70" class="d-inline-block align-text-top" ></a> 
        {% endif %}
        <a href="{% url 'profile' ebook.author.id %} "><p style="font-size:small;">By:{{ebook.author}}</p></a>
        </div>
        {% empty %}
        <p>No recommended ebooks available at this time.</p>
        {% endfor %}
    </div>
</div>
 
<strong>Recommended books</strong>
<div class="carousel-container">
    <div class="carousel">
        {% for book in recommended_books %}
        <div class="carousel-card">
          <a href="{% url 'content_detail' book.id %}"><p class="card-title" style="color:darkblue; font-size:small;"><strong style="color: black;"></strong>{{book.title}}</p></a>
        {% if book.display_image %}
        <a  href="{% url 'content_detail' book.id %} " ><img src="{{book.display_image.url }}"  alt ="" width="70" height="70" class="d-inline-block align-text-top" ></a> 
        {% endif %}
        <a href="{% url 'profile' book.author.id %} "><p style="font-size:small;">By:{{book.author}}</p></a>
        </div>
        {% empty %}
        <p>No recommended books available at this time.</p>
        {% endfor %}
    </div>
</div>



<!--styling the recommendation section-->
<style>


/* Container styling */
.carousel-container {
    overflow: hidden;
    width:50%;
    position: relative;
    margin: 20px 0;
}

.carousel {
    display: flex;
    gap: 20px;
    animation: scroll 20s linear infinite;
}

.carousel-card {
    flex: 0 0 250px; /* Fixed width for each card */
    background-color: #f8f8f8;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

/* Animation keyframes */
@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-500px * {{ recommended_courses.count }}));
    }
}

</style>



<!--styling-->

<style>
  .contact-card {
      display: flex;
      align-items: center;
      border: 1px solid #ddd;
      padding: 10px;
      max-width: 300px; /* Adjust the width as needed */
      background-color: #f9f9f9;
      border-radius: 8px;
  }
  
  .contact-image {
      width: 50px; /* Adjust the size of the image */
      height: 50px;
      border-radius: 50%;
      margin-right: 10px; /* Space between the image and name */
  }
  
  .contact-name {
      font-size: 18px; /* Adjust the font size */
      font-weight: bold;
      color: #333; /* Adjust the text color */
  }
  </style>
  
  <style>
 
    
    
    .dashboard-card {
        width: 40%;
        background-color: #f9f9f9;
        padding: 5px;
        border-radius: 8px;
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
        position: absolute;
        top: 150px;
        right:10px;
    }
    
    .dashboard-card h5 {
        text-align: center;
        margin-bottom: 0px;
        background-color:gray;
    }
    
    .dashboard-table {
        width: 100%;
        border-collapse: collapse;
    }
    
    .dashboard-table th, .dashboard-table td {
        padding: 15px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }
    
    .dashboard-table th {
        background-color:gray;
        color:black;
    }
    
    .dashboard-table tr:hover {
        background-color:azure;
    }
    
    .dashboard-table ul {
        padding-left: 20px;
        list-style-type: square;
    }
    
    .dashboard-table ul li {
        margin-bottom: 5px;
    }
    </style>
  


{% endblock %}


  