{% extends 'base.html' %}
{% block content %}
 
 
 
    <p><strong>subscribe</strong></p>
    
    <div>

       
        <br/><br/>
        {% if submitted %}
        subscription submitted successfully
        {% else %}
            
        <P>
        
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                {{ form.media }}
                <button type="submit">submit</button>
              </form>
              <br/>
              <label>
                <input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px">Agree to subscription policy
              </label>
        
              <p>By continueing you agree to our <a href="{% url 'copyright' %}" style="color:dodgerblue">subscription policy</a>.</p>
        
        </p>
        {% endif %}


<!--the code above just stores the original form, below is the working on--> 
    <div class="payment-container">
      
        
        <label>Complete your subscription</label>
         <div>
          {% if submitted %}
          subscription submitted successfully
          {% else %}
              
          <P>
          
              <form method="post" enctype="multipart/form-data">
                  {% csrf_token %}
                  {{ form.as_p }}
                  {{ form.media }}
                 
                  <button type="submit" class="btn-primary">Pay Now</button>
                  <div class="secure-payment">
                    <i class="fas fa-lock"></i> Secure Payment Gateway
                </div>
                </form>
                <br/>
                <label>
                  <input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px">Agree to subscription policy
                </label>
          
                <p>By continueing you agree to our <a href="{% url 'copyright' %}" style="color:dodgerblue">subscription policy</a>.</p>
          
          </p>
          {% endif %}
            </div>
            
          </form>
        
    </div>
 
        
{% endblock %}        