{% extends 'base.html'%}
{% block content %}

 
    <p><strong>Edit your profile</strong></p>
    
    <div>

        {% if user.is_authenticated %}
        <br/><br/>
        {% if submitted %}
        your profile has been updated successfullly 
        {% else %}
            
        <P>
        
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                
                <button type="submit">update</button>
              </form>
        
        </p>
        
        {% endif %}
        {%else%}
        <h1>You need to be loged in to access this page</h1>
        <a href="{% url 'log in' %}">log in</a>
        
        {%endif%}

    </div>
 



{% endblock %}     