{% extends 'base.html' %}

{% block content %}
 


<h1>   <button class="btn btn-outline-success" onclick="typeWriter()">About us</button>
 </h1>
<p id="demo"></p>

<script>
var i = 0;
var txt = 'LearnLi: Your one  stop academic center , "Expertise  matters" ';
var speed = 50;

function typeWriter() {
  if (i < txt.length) {
    document.getElementById("demo").innerHTML += txt.charAt(i);
    i++;
    setTimeout(typeWriter, speed);
  }
}
</script>
<br/>
<br/>

 

<div class="container"> <h2 style="text-align:center ;"></h2></div>
 
 
<br/><br/>
<div class="row">
  <h2 style="text-align:center ;"> WHAT WE DO</h2>
        <div class="column">
          <div class="card">
          <img src="media\courses.jpg" alt="John" style="width:100%">
          <div class="container">
            <h3>Course creation tool that support all fields of study</h3>
            
            <p>You can creat from self paced to ontime large courses</p>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
      </div>
      </div>
      </div>

      <div class="column">
        <div class="card">
        <img src="media\courses.jpg" alt="John" style="width:100%">
        <div class="container">
          <h3> Flexable tools to create you ebook</h3>
          
          <p>with our tools, you can be your own publisher</p>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
      </div>
      </div>
      </div>

      <div class="column">
      <div class="card">
      <img src="media\courses.jpg" alt="John" style="width:100%">
      <div class="container">
        <h3>in built communication means</h3>
        
        <p>with our ontime messaging features, we ensure flexible communication</p>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
      </div>
      </div>
      </div>
</div>

<br>
<div class="row">
      <div class="column">
        <div class="card">
        <img src="media\courses.jpg" alt="John" style="width:100%">
        <div class="container">
          <h3>Tools to create and control exams</h3>
          
          <p>with our flexible tools, you can create and control exams</p>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
    </div>
    </div>
    </div>

    <div class="column">
      <div class="card">
      <img src="media\courses.jpg" alt="John" style="width:100%">
      <div class="container">
        <h2> flexible interaction width instruuctor</h2>
        
        <p>with our ontime messaging features, we ensure flexible communication</p>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
    </div>
    </div>
    </div>

    <div class="column">
    <div class="card">
    <img src="media\courses.jpg" alt="John" style="width:100%">
    <div class="container">
      <h2> flexible interaction width instruuctor</h2>
      
      <p>with our ontime messaging features, we ensure flexible communication</p>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
    </div>
    </div>
    </div>
</div>
<br/><br/><br/><br/>

<!---Meet the team -->
<h2 style="text-align:center ;">Meet The Team</h2>
<br/><br/>

<div class="column">
    <div class="flip-card">
    <div class="flip-card-inner">
    <div class="flip-card-front">
      <img src="media\grace.jpg" alt="Avatar" style="width:300px;height:300px;">
    </div>
    <div class="flip-card-back">
      <h1>Hamidah Mugerwa</h1>
      <p>People operations & Talent acquisition</p>
       
    </div>
    </div>
    </div>
     
</div>

<div class="column">
  <div class="flip-card">
  <div class="flip-card-inner">
  <div class="flip-card-front">
    <img src="media\amos.jpg" alt="Avatar" style="width:300px;height:300px;">
  </div>
  <div class="flip-card-back">
    <h1>Mugish Erick</h1>
    <p>Chief Engineer & Product manager</p>
     
  </div>
  </div>
  </div>
</div>

 

<div class="column">
  <div class="flip-card">
  <div class="flip-card-inner">
  <div class="flip-card-front">
    <img src="media\allan.jpg" alt="Avatar" style="width:300px;height:300px;">
  </div>
  <div class="flip-card-back">
    <h1>Josep Mubiru</h1>
    <p>CEO and QA manager</p>
     
  </div>
  </div>
  </div>
</div>

<br/><br/><br/><br/>


 <!-- chart with us -->
 <div id="chat-button" style="position: fixed; bottom: 20px; right: 20px; cursor: pointer; background-color:green; padding: 10px 20px; border-radius: 30px; box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2); display: flex; align-items: center;">
  <i class="fas fa-comment-alt" style="color:blue; font-size: 24px; margin-right: 10px;"></i>
  <span style="color: white; font-size: 16px;">Chat with us</span>
</div>

<div id="chat-form" style="display: none; position: fixed; bottom: 80px; right: 0px; background: pink; border: 1px solid #ccc; padding: 20px; width: 300px; box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);">
  <form id="chatForm" method="post" action="{% url 'contact_message' %} ">
      {% csrf_token %}
      
      <div style="display: flex; flex-direction: column;">
           
         
          <label for="id_message" style="color: blue;">chart:</label>
          <textarea name="message" id="id_message" required>Type a message...</textarea>

          <div style="display: flex; justify-content: space-between; margin-top: 10px;">
              <button type="submit" style="background-color: green; color: white;">Send</button>
              <button id="close-chat" type="button" style="background-color: red; color: white;">Close</button>
          </div>
      </div>
  </form>
</div>

<script>
  // Show the chat form when the button is clicked
  document.getElementById('chat-button').onclick = function() {
      document.getElementById('chat-form').style.display = 'block';
  };
 
  // Hide the chat form when the close button is clicked
  
  document.getElementById('close-chat').onclick = function() {
      document.getElementById('chat-form').style.display = 'none';
  };
 
  // Change the text area color and placeholder on focus and blur
  const messageField = document.getElementById('id_message');
  messageField.style.color = 'black';
 
  messageField.onfocus = function() {
      if (messageField.value === 'Type a message...') {
          messageField.value = '';
      }
      messageField.style.color = 'white';
      messageField.style.backgroundColor = 'black';
  };
 
  messageField.onblur = function() {
      if (messageField.value === '') {
          messageField.value = 'Type a message...';
          messageField.style.color = 'black';
          messageField.style.backgroundColor = 'white';
      }
  };
</script>



 
 
{% endblock %}