 <pre>
                             <strong>Copyright Policy</strong>

 

1. Introduction

Learnli is an online academic platform operated by Lockpod Uganda Ltd, designed to facilitate educational activities for teachers,
institutions, and students. This policy outlines the rights and responsibilities related to the use and protection of content on the Learnli platform. By using Learnli,
you agree to comply with this policy and applicable copyright laws.

2. Ownership of Intellectual Property

All content provided on the Learnli platform, including but not limited to text, graphics, logos, images, audio, video, software, and other materials, is the property of Lockpod Uganda Ltd, its affiliates, 
or its content creators, unless explicitly stated otherwise. "Learnli" and its associated logos and trademarks are registered trademarks of Lockpod Uganda Ltd.

3. User-Generated Content

Teachers, institutions, and students may create, upload, or share content on Learnli, including courses, exams, tests, and other educational materials. By submitting content, users grant Lockpod Uganda Ltd 
a non-exclusive, royalty-free, worldwide license to use, reproduce, distribute, modify, display, and perform the content for the purpose of operating, promoting, and improving the Learnli platform.

Users retain ownership of their content but acknowledge that Lockpod Uganda Ltd has the right to remove or restrict access to content that violates this policy, applicable laws, or the rights of others.

4. Prohibited Uses

Users are prohibited from:

- Uploading or sharing content that infringes on the intellectual property rights of others.
- Reproducing, distributing, or displaying content from Learnli without proper authorization.
- Using the platform to engage in activities that violate the intellectual property rights of Lockpod Uganda Ltd, other users, or third parties.
- Circumventing technological measures that control access to content on Learnli.

5. Copyright Infringement Claims

Learnli respects the intellectual property rights of others and expects users to do the same. 
If you believe your work has been copied in a way that constitutes copyright infringement, please provide the following information to our designated copyright agent:

- A description of the copyrighted work that you claim has been infringed.
- A description of where the alleged infringing material is located on the Learnli platform.
- Your contact information, including your full name, address, telephone number, and email address.
- A statement that you have a good faith belief that the disputed use is not authorized by the copyright owner, its agent, or the law.
- A statement, made under penalty of perjury, that the information provided in your notice is accurate and that you are the copyright owner or authorized to act on the copyright owner’s behalf.
- Your electronic or physical signature.

6. Designated Copyright Agent

All copyright infringement claims should be directed to Lockpod Uganda Ltd's designated copyright agent (Learnli product):

Email: <a href="mailto:">learnli759@gmail.com</a>> 
Address: kampala 
Phone: 0751975895

7. Termination of Accounts for Repeat Infringers

Lockpod Uganda Ltd reserves the right to terminate or suspend the accounts of users who repeatedly infringe on the intellectual property rights of others, in accordance with applicable laws and regulations.

8. Digital Rights Management (DRM)

Lockpod Uganda Ltd may use Digital Rights Management (DRM) technologies to protect the content on the Learnli platform. Users are prohibited from attempting to bypass, remove, deactivate, or impair DRM controls.

9. International Compliance

Learnli operates under the copyright laws of Uganda and adheres to international treaties and conventions related to intellectual property, including but not limited to the Berne Convention, the WIPO Copyright Treaty, and the TRIPS Agreement.
 Users from other jurisdictions must comply with their local copyright laws in addition to the terms of this policy.

10. Amendments

Lockpod Uganda Ltd reserves the right to update or amend this copyright policy at any time. Users will be notified of significant changes, and continued use of the Learnli platform will constitute acceptance of the new terms.

11. Governing Law and Jurisdiction

This copyright policy is governed by the laws of Uganda. Any disputes arising from this policy or the use of the Learnli platform shall be subject to the exclusive jurisdiction of the courts of Uganda.

12. Contact Information

For any questions or concerns regarding this policy, please contact Lockpod Uganda Ltd(Learnli product):
Email: <a href="mailto:">learnli759@gmail.com</a>> 
Address: kampala 
Phone: 0751975895
</pre>  