 
{% extends 'base.html' %}

{% block content %}

 
 
{% if profile %}
 

<!--dash board-->
<div class="dashboard-container">
  <div class="profile-card">
      <!-- Existing profile content here -->

<!---USER PROFILE-->
<div class="card mb-3" style="max-width: 540px; background-color: white;">

  <div  class="card mb-3" style="max-width: 540px; background-color:black;"> 
    <p style="color:blue; padding: 15px;">{{profile.username}}'s profile</p>
  </div>

    <div class="row g-0">
      <div class="col-md-4">
       
        <img src="{{ profile.profile_image.url }}"class="img-fluid rounded-start" alt="profile image">
      </div>
      <div class="col-md-8">
        <div class="card-body"> 
          <h5 class="card-title" style="color: darkblue;">{{profile.username}}</h5>
          <p class="card-text" style="color:crimson ;">profile:<a style="text-decoration:none ;" href="{% url 'profile' user.id %}">{{profile.username}}</a></p>
          <p class="card-text" style="color:crimson ;">email:<a style="text-decoration:none ;"  href="">{{profile.email}}</a></p>
          <p class="card-text" style="color:crimson ;">name:<a style="text-decoration:none ;" href="">{{profile.last_name}}</a></p>
          <div style="margin: 24px 0;">
            <a href="#"><i class="fa fa-twitter"></i></a>  
            <a href="#"><i class="fa fa-linkedin"></i></a>  
            <a href="#"><i class="fa fa-facebook"></i></a>
          </div>
          {% if profile.is_institution %}
          <p class="card-text" style="color:crimson ;">website:<a href="">{{profile.website}}</a></p>
          {% endif %}
         
          <br/>
          <p class="card-text"><small class="text-muted"> Last updated: {{ profile.date_modified }}</small></p>
        </div>
      </div>
    </div>
    <button>

      <button class="btn btn-outline-primary"><a href="{% url 'profile_library' profile.id %}">
        <strong style="color:darkred ;">{{profile}}'s Library</strong></a>
        </button>
        {% if profile.is_teacher or profile.is_institution %}
        <button class="btn btn-outline-secondary"><a href="{% url 'profile_books' profile.id %}">
          <strong style="color:blue ;">{{profile}}'s eLibrary</strong></a>
          </button>
        {% endif %} 

    </button>

  </div>
  <!--PROFILE CARD-->
  
  


  
  <!--form to follow or unfollow and updating profiles-->
  
      <form  method="post">
        {% csrf_token %}
        {% if profile in user.follows.all  %} 

        <button class="btn btn-outline-danger" name="follow" value="unfollow" type="submit">unfollow<strong 
          style="color:blue ;">{{profile.username}}</strong>

        </button>
        {% else %}
        <button class="btn btn-outline-success" name="follow" value="follow" type="submit">follow <strong 
          style="color:blue ;">{{profile.username}}</strong>
        </button>

        {% endif %}
        <!--updated profile-->
        {% if request.user.id == profile.id %}
        <button class="btn btn-outline-secondary" name="Update user"><a style="text-decoration:none ;" href="{% url 'update_profile' %}">Update profile</a></button>
        {% endif %}
      </button>


    </form>

 <!--  the followers profiles-->
 <strong data-bs-toggle="collapse" data-bs-target="#followers" style="color:darkblue; font-size: smaller;"> followers <strong style="color:brown ;">{{profile.followed_by.all.count}}</strong></strong>

 <div class="col-4">
    <div id="followers" class="collapse hide">
      
        <div class="card" style="background-color: white;">
  
        {% for followed in profile.followed_by.all %}

      <div class="contact-card">
          <img src="{{ followed.profile_image.url }}" alt="Profile Picture" class="contact-image">
          <div class="contact-name"><a style="font-size: small;" href="{% url 'profile'  followed.id%}">{{followed}}</a></div>
      </div>

        {% endfor %}
  
      </div>

    </div>

 <!--  the following profiles-->
 <strong data-bs-toggle="collapse" data-bs-target="#following" style="color:darkblue;font-size: smaller"> following <strong style="color:brown ;">{{profile.follows.all.count}}</strong></strong>

    <div id="following" class="collapse hide"  style="background-color:white;">
         
             

            {% for following in profile.follows.all %}

            <div class="contact-card">
              <img src="{{ following.profile_image.url }}" alt="Profile Picture" class="contact-image">
              <div class="contact-name"><a style="font-size: small;" href="{% url 'profile'  following.id%}">{{following}}</a></div>
          </div>

            {% endfor %}

        
        
      </div>
        <br/>
     
        <br/>
      <br/>
    </div>


        {% endif %}

  </div>
  
  <br/>
  
  <div class="dashboard-card">
      <h5>{{user}}'s dashboard</h5>

      <table class="dashboard-table">
          <tr>
              <th>Section</th>
              <th>Number</th>
              <th>Additional Info</th>
          </tr>
          <tr>
              <td>Followers</td>
              <td><strong style="color: brown;">{{user.followed_by.all.count}}</strong></td>
              <td></td>
          </tr>
          <tr>
              <td>Following</td>
              <td><strong style="color: brown;">{{ user.follows.all.count }}</strong></td>
              <td></td>
          </tr>
          {% if user.is_teacher or user.is_institution %}
          <tr>
           
              <td>Courses Created</td>
              <td style="color:brown ;">{{courses}}</td>
            
              <td></td> 
             
          </tr>
          {% endif %} 


          
          {% if user.is_teacher or user.is_institution %}
          <tr>
            
              <td>eBooks Created</td>
              
              <td style="color:brown ;">{{ ebooks }} </td>
               

              <td>  </td>
              
          </tr>
      {% endif %}



          <tr>
              <td>Uploaded Books</td>
              <td style="color:brown ;">{{ uploaded_books }}</td>
              <td>
                  <ul>
                       
                  </ul>
              </td>
          </tr>
          {% if user.is_teacher or user.is_institution %}
          <tr>
              <td>Exams created</td>
              <td style="color:brown ;">{{ Exams_created }}</td>
              <td></td>
          </tr>
          
          {% endif %}


          <tr>
            <td>Registered Exams</td>
            <td style="color:brown ;">{{  Registered_exams }}</td>
            <td></td>
        </tr>

        <tr>
          <td>Registered Exams</td>
          <td>
              <ul>
                  
              </ul>
          </td>
          <td></td>
      </tr>


        {% if user.is_teacher or user.is_institution %}  
          <tr>
              <td>Tests created</td>
              <td style="color:brown ;">{{ Tests_created }}</td>
              <td>
                 
              </td>
          </tr>
        {% endif %}


        
          <tr>
              <td>Blogs created</td>
              <td style="color:brown ;">{{Blogs}}</td>
              <td>
                  <ul>
                      
              </td>
          </tr>
      

      </table>
  </div>
</div>



<!--Recommendations for activities and content-->
<div class="recommendations-section">
  <strong>Recommended Courses</strong>
  <ul>
      {% for course in recommended_courses %}
          <li>{{ course.title }}</li>
      {% empty %}
      <p style="color:blue; font-size: small;">No recommendations available.</p>
      {% endfor %}
  </ul>
 
  <strong>Recommended Books</strong>
  <ul>
      {% for book in recommended_books %}t
          <li>{{ book.title }}</li>
      {% empty %}
      <p style="color:blue; font-size: small;">No recommendations available.</p>
      {% endfor %}
  </ul>
 
  <strong>Recommended Teachers</strong>
  <ul>
      {% for teacher in recommended_teachers %}
          <li>{{ teacher.username }}</li>
      {% empty %}
          <p style="color:blue; font-size: small;">No recommendations available.</p>
      {% endfor %}
  </ul>
</div>


<!--styling-->

<style>
  .contact-card {
      display: flex;
      align-items: center;
      border: 1px solid #ddd;
      padding: 10px;
      max-width: 300px; /* Adjust the width as needed */
      background-color: #f9f9f9;
      border-radius: 8px;
  }
  
  .contact-image {
      width: 50px; /* Adjust the size of the image */
      height: 50px;
      border-radius: 50%;
      margin-right: 10px; /* Space between the image and name */
  }
  
  .contact-name {
      font-size: 18px; /* Adjust the font size */
      font-weight: bold;
      color: #333; /* Adjust the text color */
  }
  </style>
  
  <style>
    .dashboard-container {
        display: flex;
        justify-content: space-between;
        padding: 5px;
    }
    
    .profile-card {
        width: 45%;
        /* Add styling for the profile card */
    }
    
    .dashboard-card {
        width: 45%;
        background-color: #f9f9f9;
        padding: 5px;
        border-radius: 8px;
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    }
    
    .dashboard-card h5 {
        text-align: center;
        margin-bottom: 0px;
        background-color:aqua;
    }
    
    .dashboard-table {
        width: 100%;
        border-collapse: collapse;
    }
    
    .dashboard-table th, .dashboard-table td {
        padding: 15px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }
    
    .dashboard-table th {
        background-color:aqua;
        color:black;
    }
    
    .dashboard-table tr:hover {
        background-color:azure;
    }
    
    .dashboard-table ul {
        padding-left: 20px;
        list-style-type: square;
    }
    
    .dashboard-table ul li {
        margin-bottom: 5px;
    }
    </style>
  


{% endblock %}


  