{% extends 'base.html' %}
{% block content %}

    <div class="col-md-6 offset-md-3">
        <h2>Register student</h2>
        <br/>

        <form method="POST" action="" class="form-control"  enctype="multipart/form-data">

            {% csrf_token %} 
            
            {% for field in form %}
            <p>
                {% if field.errors %}
                <ul>
                    class = "errorlist"
                    {% for error in field.errors %}
                    <li>{{error}}</li>
                    {% endfor %}
                </ul>
                {% endif %}
                {{ field.lable_tag }}  {{ field }}
            </p>
            {% endfor %}

                    <input type="submit" value="register" class="btn btn-secondary"/>
                    <br/>
                    
        </form>

    </div>
{% endblock %}


 



