{% extends 'base.html' %}
{% load static %}

{% block content %}
 

<div  class="card mb-3" style="max-width: 540px; background-color:black; padding: 10px;"> 
  <p style="color:blue;">Teacher profiles</p>
</div>


{% if  teachers %}

    {% for teacher in  teachers %}
    {% if teacher.is_teacher %}
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4">
            
          
            <img src="{{ teacher.profile_image.url }}"class="img-fluid rounded-start" alt="profile image">
             
          </div>
          <div class="col-md-8">
            <div class="card-body">
              
              <h5 class="card-title" style="color:darkblue;">{{teacher.username}}</h5>
              <p class="card-text" style="color:crimson;">Link:<a href="{% url 'profile' teacher.id%}">@{{teacher.username}}</a></p>
              <p class="card-text" style="color:crimson;">Emal:<a href="">{{teacher.email}}</a></p>
              <p class="card-text" style="color:crimson;">Major subjects:<a href="">{{teacher.major}}</a></p>
              
              <br/>

              <div style="margin: 24px 0;">
                <a href="#"><i class="fa fa-twitter"></i></a>  
                <a href="#"><i class="fa fa-linkedin"></i></a>  
                <a href="#"><i class="fa fa-facebook"></i></a>
              </div>


              <p class="card-text"><small class="text-muted"> Last updated: {{ teacher.date_modified }}</small></p>
               <!--follow suggestions-->
               <form  method="post">
                {% csrf_token %}
                {% if teacher in user.follows.all  %} 

                <button class="btn btn-outline-success" name="follow" value="unfollow" type="submit">following<strong
                   style="color:blue ;">{{teacher.username}}</strong>

                </button>
                {% else %}
                <button class="btn btn-outline-danger" name="follow" value="follow" type="submit">notfollow <strong style="color:blue ;">
                  {{teacher.username}}</strong> 

                </button>
          {% endif %}
              

            </div>
          </div>
        </div>
      </div>
      {% endif %}
      {% endfor %}
      {% endif %}
      
      {% endblock %}