{% extends 'base.html' %}
{% block content %}

<button type="button" class="btn btn-primary">

  <span class="badge bg-danger">{{candidates.count}} </span> registered
  
  </button>
  <br/><br/>


 
  <p style="font-size: small;">Candidate List</p>
  <table border="1">
      <thead>
          <tr>
              <th>Student Name</th>
              <th>Registered Exams</th>
              <th>Action</th>
          </tr>
      </thead>
      <tbody>
          {% for candidate in candidates %}
          <tr>
              <td>{{ candidate.username }}</td>
              <td>
                  <p>
                      {% for exam in candidate.exam_registered.all %}
                          {% if exam.created_by == request.user %}
                          <p>{{ exam.Examination_name }} - {{ exam.Date }}</p>
                          {% endif %}
                      {% endfor %}
                  </p>
              </td>
          {% for exam in candidate.exam_registered.all %}
           {% if exam.created_by == request.user %}   
           <td> 

          
           <p style="font-size: small;">Remove </p>

           </td>
          {% endif %}
          {% endfor %}
          </tr>
          {% empty %}
          <tr>
              <td colspan="2"> <strong style="font-size: small;"></strong>No candidates have registered for your exams.</td>
          </tr>
          
       
      
          {% endfor %}


      </tbody>
  </table>
  







{% endblock %}