{% extends 'base.html'%}

{%  block content  %}


<div class="container mt-3" style="text-align:end;">
   
  <button type="button" class="btn btn-primary">
    Responses available<span class="badge bg-danger">{{exam_answer_responses.count}}</span>
  </button>
  
</div>

<br/>

  
{% for exam_answer_response  in exam_answer_responses %}
{% if request.user == exam_answer_response.responseby or request.user == exam_answer_response.responseto %}

    
    <div class="exam-card"> 
      <!-- Exam Header -->
      <div class="exam-header">
        <h1>{{ exam_answer_response.Course }}</h1>
        <h2><strong>semester:</strong>{{exam_answer_response.semester }}</h2>
      </div>
  
      <!-- Exam Information -->
      <div class="exam-info">
        <div><strong>Date:</strong>{{ exam_answer_response.submittedat }}</div>
        
      </div>

      <p style="font-size: small;"> Response to: {{ exam_answer_response.responseto }}</p>
      <p style="font-size: small;"> Response by: {{ exam_answer_response.responseby }}</p>
  
      <!-- Exam Instructions -->
      <div class="exam-instructions">
        <p class="card-text"><strong style="color:darkred;">Scores<br/></strong>{{ exam_answer_response.scores}}%</a></p>
        <p>{{ exam_answer_response.Generalcomment | safe|linebreaks}}</p>
      </div>
  
   
      
      <!-- Exam Footer -->
      <div class="exam-footer">
        <div class="author"><strong> by:</strong>{{ exam_answer_response.responseby }}</div>
        <div class="buttons">
          {% if request.user == exam_answer_response.responseby %}

          <button class="btn btn-outline-primary"><a href="{%   url 'edit_exam_answer_response' exam_answer_response.id %}"><strong 
              style="color:black;">Edit response</strong></a>
          </button>

          <button class="btn btn-outline-danger"><a href="{%   url 'delete_exam_answer_response' exam_answer_response.id %}"><strong 
            style="color:black;">Delete response</strong></a>
        </button>
          {% endif %}
        </div>
      </div>
    </div>
    {% endif %}
    {% endfor %}

{% endblock %}