
{% extends 'base.html'%}

{%  block content  %}



<div class="container mt-3" style="text-align:end;">
   
    <button type="button" class="btn btn-primary">
        Tests available<span class="badge bg-danger">{{tests.count}}</span>
    </button>
   
  </div>
  <br/>

    
    {% for test in tests %}
    {% if test.created_by in  request.user.follows.all or request.user == test.created_by %}
    
    <div class="exam-card"> 
      <!-- Exam Header -->
      <div class="exam-header">
        <h1>{{ test.Subject_name }}</h1>
        <h2>{{ exam.Examination_name }}</h2>
        <h2><strong>semester:</strong>{{ test.semester }}</h2>
      </div>
  
      <!-- Exam Information -->
      <div class="exam-info">
        <div><strong>Date:</strong>{{ testDate }}</div>
        <div><strong>Duration:</strong>{{ test.Duration }} Hours</div>
      </div>
  
      <!-- Exam Instructions -->
      <div class="exam-instructions">
        <h3>Instructions:</h3>
        <p>{{ test.instructins | safe }}</p>
      </div>
  
      <!-- Exam Body -->
      <div class="exam-body">
        <h3>Questions:</h3>
        <p>
          {{ test.Question | safe |linebreaks }}  
        </p>
      </div>
  
      <!-- Exam Footer -->
      <div class="exam-footer">
        <div class="author"><strong>Author:</strong>{{ test.created_by }}</div>
        <div class="buttons">
          <button class="btn btn-outline-success"><a href="{% url 'test_answer' test.id %}"><strong 
            style="color:black;">start answering</strong></a>
          </button>
  
  
          {%  if request.user == test.created_by %}
          <button class="btn btn-outline-danger"><a href="{% url 'delete_test' test.id %} "><strong 
            style="color:black;">Delete test</strong></a>
          </button>
  
          <button class="btn btn-outline-success"><a href="{% url 'edit_test' test.id %} "><strong 
            style="color:black;">Edited  test</strong></a>
          </button>
  
          {% endif %}
        </div>
      </div>
    </div>
    {% endif %}
    {% endfor %}
















 
    
  
{% endblock %}
