
{% extends 'base.html'%}

{%  block content  %}

<div class="container mt-3" style="text-align:end;">
   
    <button type="button" class="btn btn-primary">
      Answers available<span class="badge bg-danger">{{test_answers.count}}</span>
    </button>
    
  </div>
  
  <br/>

    
{% for test_answer  in test_answers %}
{% if request.user == test_answer.Answered_by or request.user == test_answer.Answered_to %}
    
    <div class="exam-card"> 
      <!-- Exam Header -->
      <div class="exam-header">
        <h1>{{ test_answer.Subject_name }}</h1>
        <h2> Answered to{{ test_answer.Answered_to }}</h2>
        <h2> Answered by{{ test_answer.Answered_by }}</h2>
        <h2><strong>semester:</strong>{{test_answer.semester }}</h2>
      </div>
  
      <!-- Exam Information -->
      <div class="exam-info">
        <div><strong>Date:</strong>{{ testDate }}</div>
        <div><strong>Duration:</strong>{{ test.Duration }} Hours</div>
      </div>
  
      <!-- Exam Instructions -->
      <div class="exam-instructions">
        <h3>Answers:</h3>
        <p>{{ test_answer.text | safe |linebreaks}}</p>
      </div>
  
      <!-- Exam Body -->
      <div class="exam-body">
        <h3>Q:</h3>
        <p>Submitted at{{ test_answer.submitted_at}}</p>
      </div>
  
      <!-- Exam Footer -->
      <div class="exam-footer">
        <div class="author"><strong>Submitted by:</strong>{{ test_answer.Answered_by }}</div>
        <div class="buttons">
            {% if request.user == test_answer.Answered_to %}

            <button class="btn btn-outline-success"><a href=" {% url 'test_answer_response' test_answer.id %} "><strong 
                style="color:black;">Send response</strong></a>
            </button>
            {% endif %}
             

            {% if request.user == test_answer.Answered_by %}
            <button class="btn btn-outline-primary"><a href="{% url 'test_answer_responses' %}"><strong 
                style="color:black;">See response</strong></a>
            </button>
            {% endif %}
        </div>
      </div>
    </div>
    {% endif %}
    {% endfor %}







{% endblock %}