{% extends 'base.html'%}

{%  block content  %}

<div class="container mt-3" style="text-align:end;">
   
    <button type="button" class="btn btn-primary">
      Responses available<span class="badge bg-danger">{{test_answer_responses.count}}</span>
    </button>
    
  </div>
  
  <br/>

    
{% for test_answer_response  in test_answer_responses %}
{% if request.user == test_answer_response.response_by or request.user == test_answer_response.response_to %}

            <div class="right" style="background-color:#ddd;"> 

                <div class="col-md-8">
                    <div class="card-body"> 
                        <h5 class="card-title" style="text-align:center;"><strong  style="color:rgb(7, 7, 7);">{{ test_answer_response.Subject }}</strong></h5>
 
                        <p class="card-text"  style="text-align:center;"><strong style="color:black;"></strong>Semester:{{test_answer_response.semester }}</a></p>
                        <p class="card-text" ><strong style="color:black ;"></strong>{{ test_answer.Date }}</a></p>
                        <br/><br/>
                        <p class="card-text"><strong style="color:black ;">Response from:</strong>{{ test_answer_response.response_by }}</a></p>
                        <p class="card-text"><strong style="color:black ;">Response to:</strong>{{ test_answer_response.response_to }}</a></p>
                     
                        <br/>
                        <p class="card-text"><strong style="color:darkred;">Scores<br/></strong>{{ test_answer_response.marks}}%</a></p>
                        <p class="card-text"><strong style="color:black ;">Response<br/></strong>{{ test_answer_response.General_comment | safe|linebreaks}}</a></p>
                        <br/>
                        <p class="card-text"><strong style="color:black ;">submitted at:</strong>{{ test_answer_response.submitted_at}}</a></p>

                        <br/><br/><br/><br/>
                        
                        {% if request.user == test_answer_response.response_by %}

                        <button class="btn btn-outline-primary"><a href="{% url 'edit_test_answer_response'  test_answer_response.id %} "><strong 
                            style="color:black;">Edit response</strong></a>
                        </button>

                        <button class="btn btn-outline-danger"><a href=" {% url 'delete_test_answer_response'  test_answer_response.id %}  "><strong 
                          style="color:black;">Delete response</strong></a>
                      </button>
                        {% endif %}
                    </div>
                </div>
            </div> 
            <br/><br/><br/><br/>
    {%  endif %}
    {% endfor %}
{% endblock %}