
{% extends 'base.html'%}

{%  block content  %}

<div class="container mt-3" style="text-align:end;">
   
    <button type="button" class="btn btn-primary">
      Answers available<span class="badge bg-danger">{{test_answers.count}}</span>
    </button>
    
  </div>
  
  <br/>

    
{% for test_answer  in test_answers %}
{% if request.user == test_answer.Answered_by or request.user == test_answer.Answered_to %}
    
    <div class="exam-card"> 
      <!-- Exam Header -->
      <div class="exam-header">
        <h1>{{ test_answer.Subject_name }}</h1>
        <h2><strong>semester:</strong>{{test_answer.semester }}</h2>
      </div>
  
      <!-- Exam Information -->
      <div class="exam-info">
        <div><strong>Date:</strong>{{ test_answer.Date }}</div>
        <div><strong>Duration:</strong>{{ test.Duration }} Hours</div>
      </div>

      <h2> Answered to{{ test_answer.Answered_to }}</h2>
      <h2> Answered by{{ test_answer.Answered_by }}</h2>
  
      <!-- Exam Instructions -->
      <div class="exam-instructions">
        <h3>Answers:</h3>
        <p>{{ test_answer.text | safe |linebreaks}}</p>
      </div>
  
      <!-- Exam Body -->
      <div class="exam-body">
         
        <p>Submitted at{{ test_answer.submitted_at}}</p>
      </div>
  
      <!-- Exam Footer -->
      <div class="exam-footer">
        <div class="author"><strong>Submitted by:</strong>{{ test_answer.Answered_by }}</div>
        <div class="buttons">
            {% if request.user == test_answer.Answered_to %}

            <button class="btn btn-outline-success"><a href=" {% url 'test_answer_response' test_answer.id %} "><strong 
                style="color:black;">Send response</strong></a>
            </button>
            {% endif %}
             

            {% if request.user == test_answer.Answered_by %}
            <button class="btn btn-outline-primary"><a href="{% url 'test_answer_responses' %}"><strong 
                style="color:black;">See response</strong></a>
            </button>
            {% endif %}
        </div>
      </div>
    </div>
    {% endif %}
    {% endfor %}







<div class="container mt-3" style="text-align:end;">
   
    <button type="button" class="btn btn-primary">
      Answers available<span class="badge bg-danger">{{test_answers.count}}</span>
    </button>
    
  </div>
  
  <br/>

    
{% for test_answer  in test_answers %}
{% if request.user == test_answer.Answered_by or request.user == test_answer.Answered_to %}

            <div class="right" style="background-color:#ddd;"> 

                <div class="col-md-8">
                    <div class="card-body"> 
                        <h5 class="card-title" style="text-align:center;"><strong  style="color:rgb(7, 7, 7);">{{ test_answer.Subject_name }}</strong></h5>
 
                        <p class="card-text"  style="text-align:center;"><strong style="color:black;"></strong>Semester:{{test_answer.semester }}</a></p>
                        <p class="card-text" ><strong style="color:black ;"></strong>{{ test_answer.Date }}</a></p>
                        <br/><br/>
                        <p class="card-text"><strong style="color:black ;">Answered by:</strong>{{ test_answer.Answered_by }}</a></p>
                        <p class="card-text"><strong style="color:black ;">Answered to:</strong>{{ test_answer.Answered_to }}</a></p>
                     
                        <br/>
                        <p class="card-text"><strong style="color:black ;">Answers<br/></strong>{{ test_answer.text | safe |linebreaks}}</a></p>
                        <br/>
                        <p class="card-text"><strong style="color:black ;">submitted at:</strong>{{ test_answer.submitted_at}}</a></p>

                        <br/><br/><br/><br/>
                        
                        {% if request.user == test_answer.Answered_to %}

                        <button class="btn btn-outline-success"><a href=" {% url 'test_answer_response' test_answer.id %} "><strong 
                            style="color:black;">Send response</strong></a>
                        </button>
                        {% endif %}
                         

                        {% if request.user == test_answer.Answered_by %}
                        <button class="btn btn-outline-primary"><a href="{% url 'test_answer_responses' %}"><strong 
                            style="color:black;">See response</strong></a>
                        </button>
                        {% endif %}
                        
                    </div>
                </div>
            </div> 
            <br/><br/><br/><br/>
    {%  endif %}
    {% endfor %}
{% endblock %}