{% extends 'base.html' %}
{% block content %}

<button type="button" class="btn btn-primary">

  <span class="badge bg-danger">{{candidates.count}} </span> registered
  
  </button>
  <br/><br/>

<h5><strog>EXAM CANDIDATES LIST</strog></h5><br/>
 
 

 

 
<body>

  <table>
        <tr>
          <th>candidate </th>
          <th>Exam</th>
          
        </tr>
        
    {% for candidate in candidates %}

        {% if request.user == candidate.teacher or request.user == candidate.name %}
            <tr>
              <td>{{candidate.name}}</td>
              <td>{{candidate.exam}}</td>
          {% endif %}  
          {% if request.user == candidate.teacher %}  
          <td>  
            <button class="btn btn-outline-danger"><a href="{% url 'delete_candidate' candidate.id %} "><strong 
                style="color:black;">Delete candidate </strong></a>
            </button>
          </td></tr>

            {% endif %} 

        {% endfor %} 
   
    
  </table>
 

</body>
<br/><br/>
 

  







{% endblock %}