 



 
 
    
    
    <div>

        {% if user.is_authenticated %}
        <p style="color: black; font-size: medium;">Kindly make Payment for {{ content.title }} book to access it full content</p>
        {% else %}
            
        <P>
        
            <form method="post">
                {% csrf_token %}
                <label for="currency">Choose currency:</label>
                <select id="currency" name="currency">
                    <option value="UGX">UGX</option>
                    <option value="USD">USD</option>
                    <option value="KES">KES</option>
                    <!-- Add more currencies as needed -->
                </select>
                <button type="submit">Proceed to Payment</button>
            </form>
        
        </p>
        
        {% endif %}
        
        <h1>You need to be loged in to access this page</h1>
        <a href="{% url 'log in' %}">log in</a>
        
      