{% extends 'base.html' %}
{% block content %}

<head>
    <title>Add sub section</title>
    <script src="{%  static 'ckeditor/ckeditor/ckeditor.js"></script>
    <script src="{%  static 'ckeditor/ckeditor/ckeditor- init.js"></script>
    <script src="https://cdn.ckeditor.com/4.16.0/standard/ckeditor.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.7/MathJax.js?config=TeX-MML-AM_CHTML"></script>
</head>
<body>
    <h1>Add Sub Section to {{ book.title }}</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ formset.management_form }}
        {% for form in formset %}
            <div>
                {{ form.as_p }}
                {{ form.media }}
            </div>
        {% endfor %}
        <button type="submit">Save</button>
    </form>
   
</body>
</html>
{% endblock %}