{% extends 'base.html' %} 
{% block content %}

    <card class="c">

        
        {% if section.section_image %}
        <h3>{{ section.title }}</h3>
        <img src="{{section.section_image.url }}" width="450" height="300" class="d-inline-block align-text-top" alt=" "> 
       
        {% endif %}
        
    </card>
    
    
    <style>
        .container {
            display: flex;
        }
        .toc {
            width: 40%;
            padding-right: 20px;
        }
        .content {
            width: 100%;
        }
    </style>
        <script>
            function showSection(sectionId) {
                var sections = document.querySelectorAll('.section');
                sections.forEach(function(section) {
                    section.style.display = 'none';
                });
                document.getElementById(sectionId).style.display = 'block';
            }
        </script>
    
        
        <div class="container" style="display:flex ;">
            
            <div class="toc">
                <h2>Table of Contents</h2>
            {% if sub_sections %}
                <ul>
                    {% for sub_section in sub_sections %}
                
                        <li><a href="javascript:void(0);" onclick="showSection('section-{{ sub_section.id }}')">{{ sub_section.title }}</a></li>
                    {% if forloop.last %} 
                        {% if request.user ==  sub_section.subsection_author %}
                        <button class="btn btn-outline-success" style="border:black ;"><a href="{% url 'add_sub_section' section.pk %}"><strong style="color:darkred ;">Add subsection</strong></a></button> 
                        {% endif %}  
                    {% endif %}  
        
                    {% endfor %}
        
            {% else %}       
                
             <button class="btn btn-outline-success" style="border:black ;"><a href="{% url 'add_sub_section' section.pk %}"><strong style="color:darkred ;">Add subsection</strong></a></button> 
                          
            {% endif %}  

                    
                    <br/>
                    
                   
                </ul>
                
            </div>
            


            <div class="content" style="display:flex ;">
                {% for sub_section in sub_sections %}
                    <div id="section-{{ sub_section.id }}" class="section" style="display: none;">
                        
                        <h2>{{ sub_section.title }}</h2>
                        {% if sub_section.section_image %}
                        <img src="{{sub_section.section_image.url }}" width="450" height="300" class="d-inline-block align-text-top" alt=" ">
                       {% endif %}
                        <br/><br/>
                        {%  if sub_section.section_video %}
                        <div class="video-card">
                          <video width="450" height="300" controls>
                            <source src=" {{sub_section.section_video.url }}" type="video/mp4">
                            Your browser does not support the video tag.
                         
                          </video>
                          {% endif %}

                          <card class=" ">
                            {%  if sub_section.section_video %}
                              <button class="btn btn-outline-secondary" style="border:black;">
                                <a href=" {{sub_section.section_video}} " download>Download video </a>
                              </button>
                            
                              <button class="btn btn-outline-success" style="border:black;">
                                <a href=" {{sub_section.section_video}} ">new window</a>
                              </button>
                              {% endif %}

                              <div>
                                <p>{{ sub_section.content|safe }}</p> 
                                <a href=" ">back to top</a>
                            </div>
            
                           </card>

                        </div>
                          
                    </div>
                    {% endfor  %}
                    <!--display content-->
    
                   
            </div>
        </div>
        <script>
            document.addEventListener('DOMContentLoaded', function() {
                if (sections.length > 0) {
                    showSection('section-' + sections[0].id);
                }
            });
        </script>
    

{% endblock %}