{% extends 'base.html' %}
{% load static %}

{% block content %}
 
    <br/><br/>
  
  <h2><strog>Posts</strog></h2><br/>
  
    
    {% for post in posts %}
    
  <div class="card" style="text-align:left ; height: 50;">
    <div class="col-md-1">
      {%  if post.author.profile_image %}
          <img src="{{post.author.profile_image.url }}"  alt="Profile Picture" class="rounded-circle mb-3" width="150" height="150" >
      {% endif %}
          <strong>@<a href="{% url 'profile' post.author.id %}">{{ post.author }}</a></strong><br/>
          <p style="font-size:smaller;"><strong>{{post.author_title}}</strong></p>

          <div class="d-flex justify-content-right">
            <div class="p-1">
              <h6 class="card-subtitle mb-2 text-muted" style="font-size:x-small ;"><strong>Followers</strong></h6>
              <p class="card-text"><strong style="color:darkblue ;font-size:x-small ;">{{post.author.followed_by.all.count}}</strong></p>
            </div>
            <div class="p-1">
              <h6 class="card-subtitle mb-2 text-muted" style="font-size:x-small ;"><strong>Following</strong></h6>
               <p class="card-text"><strong style="color:darkblue ;font-size:x-small ;">{{post.author.follows.all.count}}</strong></p>
            </div>
          </div>


          {% if request.user in post.author.followed_by.all %}
          <p style="color:blue;">following</p>
          {% else %}
          <a href="{% url 'profile' post.author.id %}"><strong>+Follow</strong></a>
          {%endif%}
      
     </div>


      <div class="col-md-4">
          <a href=" {% url 'blog_detail' post.id %}"><h2 style="text-align:center; font-size:large;" ><strong>{{ post.blog_title }}</strong><br/></h2></a>
            
          <a href=" {% url 'blog_detail' post.id %}"><h5 style="font-size:smaller;text-align:center;">click on title or image to see all blog </h5></a> 
          {% if post.image %}
        <a href="{% url 'blog_detail' post.id %}"> <img src="{{post.image.url }}" width="450" height="300" class="d-inline-block align-text-top" alt=" "> </a>
          {% endif %}
          <strong> Author:@<a href="{% url 'profile' post.author.id %}">{{ post.author }}</a></strong><br/>
          
          <strong>upload date:</strong><strong style="color:darkred;font-size:smaller;">{{ post.created_at }} </strong><br/>
        
        <!--Video-->
        {%  if post.video %}
         <div class="video-card">
          <video width="450" height="300" controls>
            <source src=" {{post.video.url }}" type="video/mp4">
            Your browser does not support the video tag.
         
          </video>
        </div> 
          {% endif %}


          <strong data-bs-toggle="collapse" data-bs-target="#{{post.id}}" style="color:darkred;font-size: small;"> Show Post</strong>
          <div id="{{post.id}}" class="collapse hide">
          <p>{{post.content |safe | linebreaks}}</p> 
          </div>
      
          {% if request.user == post.author %}
          <button class="btn btn-outline-danger" style="border:black ; " ><a href="{% url 'delete_post' post.id %} "><strong 
          style="color:darkred;">Delete post</strong></a>
        </button>
    
        <button class="btn btn-outline-success" style="border:black ;"><a href="{% url 'edit_post' post.id %} "><strong 
          style="color:darkgreen;">Edited post</strong></a>
        </button>
        {% endif %}

      </div>

    </div>    

     <strong> {{ post.total_likes }} <a href="{% url 'like_post' post.id %}">Like</a></strong>  
     <strong style="color:red;"> {{ post.total_dislikes }} <a href="{% url 'dislike_post' post.id %}">Dislike</a></strong>
     <strong>comments({{post.comments.count}})</strong>
     <a href="{% url 'blog_detail' post.id %}"><strong>+comment</strong></a>
      


  <br/><br/>

  {% endfor %}

  
     

{% endblock %}




